In [4]:
# Nama: Rio Ferddinansya
# NIM: J0403231004
# email: rioferddinansya@gmail.com

# Create a tuple using round brackets
t1 = (1, 2, 3, 4)

# Create a tuple from a list the tuple() constructor
t2 = tuple([1, 2, 3, 4, 5])

# Create a tuple using the tuple() constructor
t3 = tuple([1, 2, 3, 4, 5, 6])

# Print out tuples
print(f"Tuple t1: {t1}")
print(f"Tuple t2: {t2}")
print(f"Tuple t3: {t3}")

Tuple t1: (1, 2, 3, 4)
Tuple t2: (1, 2, 3, 4, 5)
Tuple t3: (1, 2, 3, 4, 5, 6)

Tuple 2

In [5]:

tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

Tuple 3

In [6]:
tup3 = tup1 + tup2;
print (tup3);

('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7)

Tuple 4

In [7]:
tup = ('physics', 'chemistry', 1997, 2000);
print (tup);
del tup;
print ("After deleting tup : ");
print (tup);

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

Tuple 5

In [8]:
tup=(1,2,3,4,5)

list1=list(tup)
list1[4]=6

tup=tuple(list1)
tup

(1, 2, 3, 4, 6)

Tuple 6

In [9]:
tup=1,2,3 #packing
print("The type of ",tup,"is:",type(tup))

a,b,c=tup #unpacking
print(a)
print(b)
print(c)

The type of  (1, 2, 3) is: <class 'tuple'>
1
2
3

Tuple 7

In [10]:
dict1={1:'a',2:'e',3:'i',4:'o',5:'u'}
print(dict1.get(4))

print(dict1.keys())

print(dict1.values())

print(dict1.items())

var1=dict1.pop(2)
print("The value of var1 is:",var1)

var2=dict1.popitem()
print("The value of var2 is:",var2)

dict1.clear()
dict1

o
dict_keys([1, 2, 3, 4, 5])
dict_values(['a', 'e', 'i', 'o', 'u'])
dict_items([(1, 'a'), (2, 'e'), (3, 'i'), (4, 'o'), (5, 'u')])
The value of var1 is: e
The value of var2 is: (5, 'u')

{}

Tuple 8

In [11]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

Tuple 9

In [12]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

Tuple 10

In [18]:
# Creating a sample dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

# Method 1: Loop through keys and access values
for key in my_dict:
    print(key, "->", my_dict[key])

# Method 2: Loop through keys and values using .items()
for key, value in my_dict.items():
    print(key, "->", value)

# Method 3: Loop through keys using .keys() (less common)
for key in my_dict.keys():
    print(key, "->", my_dict[key])

# Method 4: Loop through values using .values()
for value in my_dict:
    print(value)

name -> Alice
age -> 25
city -> New York
name -> Alice
age -> 25
city -> New York
name -> Alice
age -> 25
city -> New York
name
age
city

Tuple 11

In [19]:
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}
print ("dict['Name']: ", dict['Name'])	# dict['Name']:  Manni

dict['Name']:  Manni

Tuple 12

In [20]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Thu', 'Wed', 'Tue', 'Sun', 'Sat', 'Fri', 'Mon'}
{'Feb', 'Mar', 'Jan'}
{17, 21, 22}

Tuple 13

In [21]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
 
for d in Days:
   print(d)

Thu
Wed
Tue
Sun
Sat
Fri
Mon

Tuple 14

In [22]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.add("Sun")
print(Days)

{'Thu', 'Wed', 'Tue', 'Sun', 'Sat', 'Fri', 'Mon'}

Tuple 15

In [23]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.discard("Sun")
print(Days)

{'Thu', 'Wed', 'Tue', 'Sat', 'Fri', 'Mon'}

Tuple 16

In [24]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print(DaysA|DaysB)		
print(DaysA & DaysB)	
print(DaysA - DaysB)

{'Thu', 'Fri', 'Wed', 'Sun', 'Sat', 'Tue', 'Mon'}
{'Wed'}
{'Tue', 'Mon'}

Tuple 17

In [25]:
employee_list = [(12345, "John", "Kitchen"), (12458, "Paul", "House Floor")]

def get_employee(id):
    for employee in employee_list:
        if employee[0] == id:
            return {"id": employee[0], "name": employee[1], "department": employee[2]}

print(get_employee(12458))

{'id': 12458, 'name': 'Paul', 'department': 'House Floor'}

Tuple 18

In [26]:
employee_dict = {
    12345: {
        "id": "12345",
        "name": "John", 
        "department": "Kitchen"    
    },
    12458: {
        "id": "12458",
        "name": "Paul", 
        "department": "House Floor"    
    }
}

def get_employee_from_dict(id):
    return employee_dict[id];


print(get_employee_from_dict(12458));

{'id': '12458', 'name': 'Paul', 'department': 'House Floor'}